@import url('https://fonts.googleapis.com/css?family=Alice|Amatic+SC|Gothic+A1&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  /* display: flex;
  justify-content: center; */
  background-color: black;
}

.head-er {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100vw;
  padding-bottom: 6rem;
}
.head-er h1 {
  font-family: 'Alice', serif;
  font-size: 3rem;
  color: white;
}
.head-er img {
  height: 30rem;
}
.movie-cont {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
}
/* font-family: 'Amatic SC', cursive; */
.body-cont {
  display: flex;
  padding-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movie-cont img {
  height: 20rem;
  width: auto;
}
.movie-cont h1 {
  font-family: 'Alice', serif;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  border: outset white 2px;
  color: white;
}
.movie-cont a {
  text-decoration: none;
}

.movie-cont h2 {
  /* font-family: 'Gothic A1', sans-serif; */
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  padding: 0;
  margin: 0.5rem;
  color: rgb(255, 153, 0);
}

.movieBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieBox img {
  width: 30rem;
  height: auto;
}
